body {
    /* position: absolute; */
     margin: 50;

    /*height: 100vh;           
    display: flex;
    justify-content: center;
    align-items: center; */
}
/* #game {
    margin: 0;
    position: relative;
} */
/* #score{
    position: fixed;
    top: 20px;
    left: 20px;
} */
